<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <body>
  <center>
    <h2>ADD NEW Class Name</h2><br><br>
    <form action="/classname/add" method="POST">
    <br>
    Name:
    <br>
    <input type="text" name="name" value="">
    <br>
    <input type="submit" value="Submit">
    <br>
  </form>
  </center>
  </body>
</html>
