<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FITNESS MANAGEMNET</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <style media="screen">
      .body{
        font-family: 'Slabo 27px', serif;
      }
      .home-head{
        background: url('../images/header.jpg');
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
        color: #fff;
      }
      .small-text{
        font-size: 20px;
        font-style: italic;
      }
      .bigtag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .bigtag h1{
        font-size: 80px;
        font-family: 'Lobster', cursive;
      }
      ul{
        padding-left: 0;
      }
      ul li{
        display: inline-block;
        padding: 5px 15px;
        border: 2px solid white;
      }
      ul li:hover{
        background-color: #fff;
      }
      ul li a{
        color: #fff;
        list-style: none;
        text-decoration: none;
      }
      ul li a:hover{
        color: #2975c6;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <section class="home-head">
      <div class="bigtag">
        <h1>Hello, (username)</h1>
        <p class="small-text">You are connected as (role) </p>
        <ul>
          <li><a href="/member">MEMBER</a></li>
          <li><a href="/classname">SESSION CLASS</a></li>
          <li><a href="/login/logout">LOGOUT</a></li>
        </ul>
      </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
