<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EDIT MEMBER PAGE</title>
  </head>
  <body>
  <center>
    <h2>ADD MEMBER LIST</h2>
    <br>
    <br>
    <form action="/member/add" method="post">
      <p>Name</p>
      <input type="text" name="name" value="">
      <br>
      <p>KTP</p>
      <input type="text" name="ktp" value="">
      <br>
      <p>Address</p>
      <input type="text" name="address" value="">
      <br>
      <p>Telepon Number</p>
      <input type="tel" name="telp" value="">
      <br>
      <p>Plan</p>
      <input type="text" name="kuota" value="">
      <br>
      <br>
      <button type="submit"> ADD NEW MEMBER </button>
    </form>
  </center>
  </body>
</html>
